@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";



@layer base {
  :root {
    --bg: 255, 255, 255;
    --text: 15, 23, 42;
    --accent: 99 102 241
  }

  .dark{
    --bg: 2 6 23;
    --text: 255, 255, 255;
    --accent: 226 232 240 
  }

  body {
    font-family: "Inter", sans-serif;
    background-color: rgb(var(--bg));
    color: rgb(var(--text));

    @apply bg-white text-slate-900 antialiased;
  }
}
